{% extends 'home/master.twig' %}
{% from 'news/macros.twig' import news_preview %}
{% from 'changelog/macros.twig' import changelog_listing %}

{% set canonical_url = '/' %}

{% block content %}
    <div class="index">
        <div class="index__sidebar">
            <div class="container">
                <div class="container__title">Statistics</div>
                <div class="container__content">
                    {% if users_count < 1 %}
                        This is a fresh installation, <a href="/auth.php?m=register" class="index__stats__emphasis index__stats__link">create an account</a>!
                    {% else %}
                        We have <span class="index__stats__emphasis">{{ users_count|number_format }}</span> users and
                        the last person to join was <a href="/profile.php?u={{ last_user.user_id }}" class="index__stats__emphasis index__stats__link" style="{{ last_user.user_colour|html_colour }}">{{ last_user.username }}</a>,
                        <time datetime="{{ last_user.created_at|date('c') }}" title="{{ last_user.created_at|date('r') }}">{{ last_user.created_at|time_diff }}</time>!
                    {% endif %}
                </div>
            </div>

            <div class="container">
                <div class="container__title">Online users</div>
                <div class="container__content">
                    {% if online_users < 1 %}
                        No one was online in the last 5 minutes.
                    {% else %}
                        Online users in the last 5 minutes:<br>
                        {% for user in online_users %}
                            <a href="/profile.php?u={{ user.user_id }}" class="index__stats__emphasis index__stats__link" style="{{ user.user_colour|html_colour }}">{{ user.username }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="container">
                <a class="container__title container__title--link" href="/changelog.php">Changelog</a>
                <div class="changelog__content">
                    {{ changelog_listing(featured_changelog) }}
                </div>
            </div>
        </div>

        <div class="index__main">
            {% if current_user is defined %}
                <div class="container">
                    <div class="container__title">Welcome</div>
                    <div class="container__content">
                        <p>You have 0 new messages because the PM system doesn't exist yet, have a nice day.</p>
                    </div>
                </div>
            {% endif %}

            {% for post in featured_news %}
                {{ news_preview(post) }}
            {% endfor %}
        </div>
    </div>

    {% if linked_data is defined and linked_data is iterable %}
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "{{ linked_data.name }}",
            "url": "{{ linked_data.url }}",
            "logo": "{{ linked_data.logo }}",
            "sameAs": [
                "{{ linked_data.same_as|join('", "')|raw }}"
            ]
        }
        </script>
    {% endif %}
{% endblock %}

