{% extends 'home/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from 'news/macros.twig' import news_preview %}
{% from 'changelog/macros.twig' import changelog_listing %}

{% set canonical_url = '/' %}

{% block content %}
    <div class="landing">
        <div class="landing__sidebar">
            <div class="container landing__container">
                {{ container_title('<i class="fas fa-chart-bar fa-fw"></i> Statistics') }}

                <div class="landing__statistics">

                    <div class="landing__statistic">
                        <div class="landing__statistic__name">
                            <i class="fas fa-users fa-fw"></i> Users
                        </div>
                        <div class="landing__statistic__value">
                            {{ statistics.count_users_all|number_format }}
                        </div>
                    </div>

                    <div class="landing__statistic">
                        <div class="landing__statistic__name">
                            <i class="fas fa-comment-dots fa-fw"></i> Comments
                        </div>
                        <div class="landing__statistic__value">
                            {{ statistics.count_comments|number_format }}
                        </div>
                    </div>

                    <div class="landing__statistic">
                        <div class="landing__statistic__name">
                            <i class="fas fa-user-check fa-fw"></i> Online
                        </div>
                        <div class="landing__statistic__value">
                            {{ statistics.count_users_online|number_format }}
                        </div>
                    </div>

                    <div class="landing__statistic">
                        <div class="landing__statistic__name">
                            <i class="fas fa-user-clock fa-fw"></i> Active (24 hr)
                        </div>
                        <div class="landing__statistic__value">
                            {{ statistics.count_users_active|number_format }}
                        </div>
                    </div>

                    <div class="landing__statistic">
                        <div class="landing__statistic__name">
                            <i class="fas fa-list fa-fw"></i> Topics
                        </div>
                        <div class="landing__statistic__value">
                            {{ statistics.count_forum_topics|number_format }}
                        </div>
                    </div>

                    <div class="landing__statistic">
                        <div class="landing__statistic__name">
                            <i class="fas fa-comments fa-fw"></i> Posts
                        </div>
                        <div class="landing__statistic__value">
                            {{ statistics.count_forum_posts|number_format }}
                        </div>
                    </div>

                </div>
            </div>

            {% if online_users|length > 0 %}
                <div class="container landing__container">
                    {{ container_title('<i class="fas fa-users fa-fw"></i> Online Users') }}

                    <div class="landing__online">
                        {% for user in online_users %}
                            <a href="{{ url('user-profile', {'user': user.user_id}) }}" class="avatar landing__online__user" style="{{ user.user_colour|html_colour }}; background-image: url('{{ url('user-avatar', {'user': user.user_id, 'res': 60}) }}');" title="{{ user.username }}">
                                {{ user.username }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if birthdays|length > 0 %}
                <div class="container landing__container">
                    {{ container_title('<i class="fas fa-birthday-cake fa-fw"></i> Happy Birthday!') }}

                    {% for birthday in birthdays %}
                        <a class="landing__latest" style="{# birthday.user_colour|html_colour #}" href="{{ url('user-profile', {'user': birthday.user_id}) }}">
                            <div class="avatar landing__latest__avatar" style="background-image: url('{{ url('user-avatar', {'user': birthday.user_id, 'res': 100}) }}')"></div>
                            <div class="landing__latest__content">
                                <div class="landing__latest__username">
                                    {{ birthday.username }}
                                </div>
                                {% if birthday.user_age is not null %}
                                    <div class="landing__latest__joined">
                                        Turned {{ birthday.user_age }} today!
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% elseif latest_user.user_id|default(0) > 0 %}
                <div class="container landing__container">
                    {{ container_title('<i class="fas fa-user-plus fa-fw"></i> Newest User') }}

                    <a class="landing__latest" style="{{ latest_user.user_colour|html_colour }}" href="{{ url('user-profile', {'user': latest_user.user_id}) }}">
                        <div class="avatar landing__latest__avatar" style="background-image: url('{{ url('user-avatar', {'user': latest_user.user_id, 'res': 100}) }}')"></div>
                        <div class="landing__latest__content">
                            <div class="landing__latest__username">
                                {{ latest_user.username }}
                            </div>
                            <div class="landing__latest__joined">
                                Joined <time datetime="{{ latest_user.user_created|date('c') }}" title="{{ latest_user.user_created|date('r') }}">{{ latest_user.user_created|time_diff }}</time>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}

            <div class="container landing__container">
                {{ container_title('<i class="fas fa-wrench fa-fw"></i> Changelog', false, url('changelog-index')) }}
                <div class="changelog__content">
                    {{ changelog_listing(featured_changelog, false, true) }}
                </div>
            </div>
        </div>

        <div class="landing__main">
            {% for post in featured_news %}
                {{ news_preview(post) }}
            {% endfor %}
        </div>
    </div>

    {% if linked_data is defined and linked_data is iterable %}
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "{{ linked_data.name }}",
            "url": "{{ linked_data.url }}",
            "logo": "{{ linked_data.logo }}",
            "sameAs": [
                "{{ linked_data.same_as|join('", "')|raw }}"
            ]
        }
        </script>
    {% endif %}
{% endblock %}

