{% extends 'manage/news/master.twig' %}
{% from 'macros.twig' import pagination, container_title %}

{% block manage_content %}
    <div class="container">
        {{ container_title('Categories') }}

        <a href="{{ url('manage-news-category') }}" class="input__button">New Category</a>

        {% for cat in news_categories %}
            <p>
                <a href="{{ url('manage-news-category', {'category': cat.category_id}) }}" class="input__button">{{ cat.category_id }}</a>
                {{ cat.category_name }},
                {{ cat.category_is_hidden }},
                {{ cat.category_created }}
            </p>
        {% endfor %}

        {{ pagination(categories_pagination, url('manage-news-categories')) }}
    </div>
{% endblock %}
