{% extends 'manage/news/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from '_layout/input.twig' import input_hidden, input_csrf, input_text, input_checkbox %}

{% set is_new = category|length < 1 %}

{% block manage_content %}
    <form method="post" action="" class="container">
        {{ container_title(is_new ? 'New Category' : 'Editing ' ~ category.category_name) }}

        {{ input_csrf('news_category') }}
        {{ input_hidden('category[id]', category.category_id|default(0)) }}

        <table style="color:inherit">
            <tr>
                <td>Name</td>
                <td>{{ input_text('category[name]', '', category.category_name|default(), 'text', '', true) }}</td>
            </tr>

            <tr>
                <td>Description</td>
                <td><textarea name="category[description]" required class="input__textarea">{{ category.category_description|default() }}</textarea></td>
            </tr>

            <tr>
                <td>Is Hidden</td>
                <td>{{ input_checkbox('category[hidden]', '', category.category_is_hidden|default(false)) }}</td>
            </tr>
        </table>

        <button class="input__button">Save</button>
    </form>
{% endblock %}
