{% extends 'manage/news/master.twig' %}
{% from 'macros.twig' import pagination, container_title %}

{% block manage_content %}
    <div class="container">
        {{ container_title('News Posts') }}

        <a href="?v=post" class="input__button">New Post</a>

        {% for post in news_posts %}
            <p>
                <a href="?v=post&amp;p={{ post.post_id }}" class="input__button">{{ post.post_id }}</a>
                <a href="?v=category&amp;c={{ post.category_id }}" class="input__button">Cat: {{ post.category_id }}</a>
                {{ post.post_is_featured }},
                {{ post.user_id }},
                {{ post.post_title }},
                {{ post.post_scheduled }},
                {{ post.post_created }},
                {{ post.post_updated }},
                {{ post.post_deleted }},
                {{ post.comment_section_id }}
            </p>
        {% endfor %}

        {{ pagination(posts_pagination, '/manage/news.php', null, {'v': 'posts'}) }}
    </div>
{% endblock %}
