{% extends 'manage/news/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from '_layout/input.twig' import input_hidden, input_csrf, input_text %}

{% set is_new = post|length < 1 %}

{% block manage_content %}
    <form method="post" action="" class="container">
        {{ container_title(is_new ? 'New Post' : 'Editing ' ~ post.post_title) }}

        {{ input_csrf('news_post') }}
        {{ input_hidden('post[id]', post.post_id|default(0)) }}

        <table style="color:inherit">
            <tr>
                <td>Name</td>
                <td>{{ input_text('post[title]', '', post.post_title|default(), 'text', '', true) }}</td>
            </tr>

            <tr>
                <td>Category</td>
                <td>
                    <select name="post[category]" class="input__select">
                        {% for category in categories %}
                            <option value="{{ category.category_id }}" {% if category.category_id == post.category_id|default(0) %}selected{% endif %}>{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td>Is Featured</td>
                <td><input type="checkbox" name="post[featured]" {% if post.post_is_featured|default(false) %}checked{% endif %}></td>
            </tr>

            <tr>
                <td colspan="2"><textarea name="post[text]" required class="input__textarea">{{ post.post_text|default() }}</textarea></td>
            </tr>
        </table>

        <button class="input__button">Save</button>
    </form>
{% endblock %}
