{% extends '@mio/news/master.twig' %}
{% from '@mio/macros.twig' import pagination %}
{% from '@mio/news/macros.twig' import news_preview %}

{% set title = category.category_name ~ ' :: News' %}
{% set canonical_url = '/news.php?c=' ~ category.category_id ~ (posts_offset > 0 ? '&o=' ~ posts_offset : '') %}

{% block news_content %}
    <div class="container news__container">
        <div class="container__title news__container__title">News » {{ category.category_name }}</div>

        <div class="container__content news__container__content">
            <div class="news__preview__listing">
                {% for post in posts %}
                    {{ news_preview(post) }}
                {% endfor %}
            </div>

            <div class="news__sidebar">
                {% if category.category_description|length > 0 %}
                    <div class="container news__container">
                        <div class="container__title">
                            Description
                        </div>
                        <div class="container__content">
                            {{ category.category_description }}
                        </div>
                    </div>
                {% endif %}

                {% if featured|length > 0 %}
                    <div class="container news__list">
                        <div class="container__title">
                            Featured Posts
                        </div>
                        <div class="container__content">
                            {% for featured_post in featured %}
                                <a class="news__list__item" href="/news.php?p={{ featured_post.post_id }}">{{ featured_post.post_title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {{ pagination(category.posts_count, posts_take, posts_offset, '/news.php?c=' ~ category.category_id) }}
            </div>
        </div>
    </div>
{% endblock %}
