{% extends '@mio/news/master.twig' %}

{% set title = post.post_title ~ ' :: News' %}
{% set canonical_url = '/news.php?n=' ~ post.post_id %}

{% block news_content %}
    <div class="mio__container">
        <div class="mio__container__title">{{ post.category.category_name }} » {{ post.post_title }}</div>
        <div class="mio__container__content">
            <div class="mio__news__post__text">
                {{ post.post_text|raw }}
            </div>
            <div class="mio__news__post__info">
                <div class="mio__news__post__user">
                    <div class="mio__news__post__username">
                        {{ post.user.username }}
                    </div>
                    <div class="mio__news__post__avatar" style="background-image:url('/profile.php?u={{ post.user.user_id }}&amp;m=avatar');"></div>
                </div>
                <div class="mio__news__post__info">
                    Category: <a href="/news.php?c={{ post.category.category_id }}">{{ post.category.category_name }}</a>
                </div>
                <div class="mio__news__post__info">
                    Posted: {{ post.created_at }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
