{% from '@nova/macros.twig' import link %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Flashii</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Exo+2:200,200italic,300,300italic,400,400italic" rel="stylesheet" type="text/css">
        <link href="/css/libraries.css" rel="stylesheet" type="text/css" data-turbolinks-track>
        <link href="/css/nova.css" rel="stylesheet" type="text/css" data-turbolinks-track>
    </head>
    <body>
        <div class="container">
            <nav class="header">
                <div class="header__inner">
                    <div class="header__navigation">
                        <a class="header__entry fa-home" href="/">home</a>
                        <a class="header__entry fa-comments" href="https://chat.flashii.net">chat</a>
                        {% if app.session is not null %}
                            <a class="header__entry fa-sign-out" href="/auth/logout">logout</a>
                        {% endif %}
                    </div>
                    <a class="header__user" href="{{ app.session is not null ? '/users/' ~ app.session.user_id : '/auth/login' }}">
                        <div class="header__username">{{ app.session is not null ? app.session.user.username : 'login' }}</div>
                        <div class="header__avatar" style="background-image: url('https://static.flash.moe/images/{{ app.session is not null ? 'discord-logo' : 'nova-none' }}.png')"></div>
                    </a>
                </div>
            </nav>

            <div class="container__wrapper {{ wrapper_classes|default('') }}">
                <noscript>
                    <div class="banner" style="background-image: url('https://static.flash.moe/images/enable-javascript.png')"></div>
                </noscript>

                <div class="banner {{ banner_large is defined and banner_large ? 'banner--large' : '' }} {{ banner_classes|default('') }}" style="background-image: url('{{ banner|default('https://static.flash.moe/images/default-banner.png') }}')">
                    {{ block('banner_content') is defined ? block('banner_content') : '' }}
                </div>

                {{ block('content') is defined ? block('content') : '' }}
            </div>

            <div class="container__footer">
                <div class="container__footer-copyright">
                    {{ link('https://flash.moe', 'flash.moe 2013-' ~ ''|date('Y'), 'container__footer-link') }} |
                    {{ link('https://github.com/flashwave/misuzu/tree/' ~ git_branch(), git_branch(), 'container__footer-link') }}#{{ link('https://github.com/flashwave/misuzu/commit/' ~ git_hash(true), git_hash(), 'container__footer-link') }}
                </div>
                <div class="container__footer-links">
                    {{ link('#', 'Terms of Service', 'container__footer-link') }}
                    {{ link('#', 'Rules', 'container__footer-link') }}
                    {{ link('#', 'Contact', 'container__footer-link') }}
                    {{ link('#', 'Status', 'container__footer-link') }}
                    {{ link('https://twitter.com/flashiinet', '@flashiinet', 'container__footer-link') }}
                </div>
            </div>
        </div>
    </body>
</html>
