{% macro forum_category_listing(forums, title) %}
    {% from _self import forum_category_entry %}

    <div class="container forum__listing">
        <div class="container__title">{{ title }}</div>
        <div class="container__content forum__listing__forums">
            {% if forums|length > 0 %}
                {% for forum in forums %}
                    {{ forum_category_entry(forum) }}
                {% endfor %}
            {% else %}
                <div class="forum__listing__none">
                    This category is empty.
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro forum_category_entry(forum, forum_icon) %}
    {% set forum_icon = forum_icon|default(null) %}

    {% if forum_icon is null %}
        {% if forum.forum_archived is defined and forum.forum_archived %}
            {% set forum_icon = 'https://static.flash.moe/images/forum-icons/forum-archive-%s.png' %}
        {% elseif forum.forum_type is defined %}
            {% if forum.forum_type == 2 %}
                {% set forum_icon = 'https://static.flash.moe/images/forum-icons/forum-link-%s.png' %}
            {% elseif forum.forum_type == 1 %}
                {% set forum_icon = 'https://static.flash.moe/images/forum-icons/forum-category-%s.png' %}
            {% endif %}
        {% endif %}

        {% set forum_icon = forum_icon|default('https://static.flash.moe/images/forum-icons/forum-default-%s.png') %}
    {% endif %}

    <div class="forum__listing__entry">
        <img src="{{ forum_icon|format('read') }}" alt="read" class="forum__listing__entry__icon">

        <div class="forum__listing__entry__info">
            <a href="/forum/forum.php?f={{ forum.forum_id }}" class="forum__listing__entry__title">{{ forum.forum_name }}</a>
            <div class="forum__listing__entry__description">
                {{ forum.forum_description|nl2br }}
            </div>
            {% if forum.forum_subforums is defined and forum.forum_subforums|length > 0 %}
                <div class="forum__listing__entry__subforums">
                    {% for subforum in forum.forum_subforums %}
                        <a href="/forum/forum.php?f={{ subforum.forum_id }}" class="forum__listing__entry__subforum">{{ subforum.forum_name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="forum__listing__entry__stats">
            <div class="forum__listing__entry__topics">{{ forum.forum_topic_count|number_format }}</div>
            <div class="forum__listing__entry__posts">{{ forum.forum_post_count|number_format }}</div>
        </div>

        <div class="forum__listing__entry__activity">
            <div class="forum__listing__entry__activity__none">
                There are no posts in this forum yet.
            </div>
        </div>
    </div>
{% endmacro %}

{% macro forum_topic_listing(topics) %}
    {% from _self import forum_topic_entry %}

    <div class="container forum__topics">
        <div class="container__title">Topics</div>
        <div class="container__content forum__topics__listing">
            {% if topics|length > 0 %}
                {% for topic in topics %}
                    {{ forum_topic_entry(topic) }}
                {% endfor %}
            {% else %}
                <div class="forum__topics__none">
                    There are no topics in this forum.
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro forum_topic_entry(topic, topic_type, topic_read, topic_icon) %}
    {% set topic_type = topic_type|default(null) %}
    {% set topic_read = topic_read|default(true) ? 'read' : 'unread' %}
    {% set topic_icon = topic_icon|default('https://static.flash.moe/images/topic-icons/topic-%s-%s.png') %}

    {% if topic_type is null %}
        {% if topic.topic_deleted is defined and topic.topic_deleted is not null %}
            {% set topic_type = 'deleted' %}
        {% elseif topic.topic_type is defined and topic.topic_type != 0 %}
            {% if topic.topic_type == 2 %}
                {% set topic_type = 'announcement' %}
            {% elseif topic.topic_type == 1 %}
                {% set topic_type = 'pinned' %}
            {% endif %}
        {% elseif topic.topic_status is defined and topic.topic_status == 1 %}
            {% set topic_type = 'locked' %}
        {% else %}
            {% set topic_type = 'default' %}
        {% endif %}
    {% endif %}

    <div class="forum__topics__entry forum__topics__entry--{{ topic_type }}">
        <img src="{{ topic_icon|format(topic_type, topic_read) }}" alt="read" class="forum__topics__entry__icon">

        <div class="forum__topics__entry__info">
            <div class="forum__topics__entry__info__title forum__topics__entry__info__title--{{ topic_read }}">
                <a href="/forum/topic.php?t={{ topic.topic_id }}" class="forum__topics__entry__info__title__link">{{ topic.topic_title }}</a>
            </div>
            {% if topic.author_id is not null %}
                <div class="forum__topics__entry__info__author">
                    by <a href="/profile.php?u={{ topic.author_id }}" class="forum__topics__entry__info__author__username" style="color:{{ topic.author_colour|colour_get_css }}">
                        {{ topic.author_name }}
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="forum__topics__entry__stats">
            <div class="forum__topics__entry__stat forum__topics__entry__stat--posts">
                {{ topic.topic_post_count }}
            </div>
            <div class="forum__topics__entry__stat forum__topics__entry__stat--views">
                {{ topic.topic_view_count }}
            </div>
        </div>

        <div class="forum__topics__entry__last-post">
            <div class="forum__topics__entry__last-post__author">
                by <a href="/profile.php?u={{ topic.author_id }}" class="forum__topics__entry__last-post__author" style="color:{{ topic.author_colour|colour_get_css }}">
                    {{ topic.author_name }}
                </a>
            </div>
            <div class="forum__topics__entry__last-post__date">
                5 years ago
            </div>
        </div>
    </div>
{% endmacro %}
