{% extends '@nova/user/master.twig' %}

{% set title = 'profile / ' ~ profile.username %}
{% set banner_large = true %}
{% set wrapper_classes = 'profile' %}
{% set banner_classes = 'profile__banner' %}

{% set hierarchies = {
    'founder': {
        'display': profile.user_id == 1,
        'icon': 'fa-cog',
        'text': 'Founder',
    },
    'staff': {
        'display': false,
        'icon': 'fa-gavel',
        'text': 'Staff',
    },
    'developer': {
        'display': false,
        'icon': 'fa-code',
        'text': 'Developer',
    },
    'contributor': {
        'display': false,
        'icon': 'fa-heart',
        'text': 'Contributor',
    },
    'premium': {
        'display': app.session is not null and app.session.user_id == profile.user_id,
        'icon': 'fa-user',
        'text': 'You!',
    },
    'banned': {
        'display': false,
        'icon': 'fa-trash',
        'text': 'Banned',
    },
} %}

{% block banner_content %}
    {% spaceless %}
    <div class="banner__bottom profile__header">
        <div class="profile__header-sub profile__names">
            <div class="profile__username">{{ profile.username }}</div>
        </div>
        <div class="profile__header-sub profile__dates">
            <div class="profile__date--joined">Joined {{ profile.created_at|date('r') }}</div>
        </div>
    </div>
    {% endspaceless %}
{% endblock %}

{% block content %}
    <div class="profile__content">
        {% spaceless %}
        <div class="profile__container profile__container--left">
            <div class="profile__avatar" style="background-image: url('/profile.php?u={{ profile.user_id }}&amp;m=avatar');"></div>
            <div class="platform profile__platform profile__hierarchies">
                {% for id, data in hierarchies %}
                    {% if data.display %}
                        <div class="profile__hierarchy profile__hierarchy--{{ id }}">
                            <div class="profile__hierarchy-icon {{ data.icon }}"></div>
                            <div class="profile__hierarchy-text">{{ data.text }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endspaceless %}
        <div class="profile__container profile__container--right">
        </div>
    </div>
{% endblock %}
