{% extends '@mio/master.twig' %}
{% from '@mio/macros.twig' import navigation %}

{% block content %}
    <div class="container">
        <div class="container__title">
            {{ title|default(error_code|default(http_code) >= 400 ? 'Error' : 'Information') }} {{ error_code|default(http_code >= 400 ? http_code : '') }}{{ error_text is defined ? ' - ' ~ error_text : '' }}
        </div>

        <div class="container__content">
            {% if message is defined %}
                <p>{{ message }}</p>
            {% else %}
                {% block error_message %}
                    <p>Try again later, perhaps.</p>
                {% endblock %}
            {% endif %}
        </div>
    </div>

    {{ navigation(mio_navigation) }}

    {% if error_code|default(0) >= 500 %}
        <audio autoplay>
            <source src="https://static.flash.moe/sounds/wbrb.ogg" type="audio/ogg">
            <source src="https://static.flash.moe/sounds/wbrb.mp3" type="audio/mp3">
        </audio>
    {% endif %}
{% endblock %}

