{% extends 'manage/users/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from 'manage/macros.twig' import permissions_table %}
{% from '_layout/input.twig' import input_csrf, input_text, input_checkbox %}

{% block manage_content %}
    <form action="?v=role{{ edit_role is defined ? '&r=' ~ edit_role.role_id : '' }}" method="post"{% if edit_role is defined %} style="{{ edit_role.role_colour|html_colour('--accent-colour') }}"{% endif %}>
        {{ input_csrf('users_role') }}

        <div class="container">
            {{ container_title(edit_role is defined ? 'Editing ' ~ edit_role.role_name ~ ' (' ~ edit_role.role_id ~ ')' : 'Creating a new role') }}

            <label class="form__label">
                <div class="form__label__text">Role Name</div>
                <div class="form__label__input">
                    {{ input_text('role[name]', '', edit_role.role_name|default(''), 'text', '', true, {'maxlength':255}) }}
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Hide Rank</div>
                <div class="form__label__input">
                    {{ input_checkbox('role[secret]', '', edit_role is defined and edit_role.role_hidden) }}
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Hierarchy</div>
                <div class="form__label__input">
                    {{ input_text('role[hierarchy]', '', edit_role.role_hierarchy|default(1), 'number', '', true) }}
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Title</div>
                <div class="form__label__input">
                    {{ input_text('role[title]', '', edit_role.role_title|default(''), 'text', '', false, {'maxlength':64}) }}
                </div>
            </label>

        </div>

        <div class="container">
            {{ container_title('Colour') }}

            {% set colour_props = edit_role.role_colour|default(constant('MSZ_COLOUR_INHERIT'))|colour_props %}

            <label class="form__label">
                <div class="form__label__text">Inherit Colour</div>
                <div class="form__label__input">
                    {{ input_checkbox('role[colour][inherit]', '', colour_props.inherit) }}
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Red</div>
                <div class="form__label__input">
                    {{ input_text('role[colour][red]', '', colour_props.red, 'number', '', false, {'min':0,'max':255}) }}
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Green</div>
                <div class="form__label__input">
                    {{ input_text('role[colour][green]', '', colour_props.green, 'number', '', false, {'min':0,'max':255}) }}
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Blue</div>
                <div class="form__label__input">
                    {{ input_text('role[colour][blue]', '', colour_props.blue, 'number', '', false, {'min':0,'max':255}) }}
                </div>
            </label>

        </div>

        <div class="container">
            {{ container_title('Additional') }}

            <label class="form__label">
                <div class="form__label__text">Description</div>
                <div class="form__label__input">
                    <textarea class="input__textarea" name="role[description]" maxlength="1000">{{ edit_role is defined ? edit_role.role_description : '' }}</textarea>
                </div>
            </label>
        </div>

        {% if can_manage_perms %}
            <div class="container">
                {{ container_title('Permissions') }}
                {{ permissions_table(permissions) }}
            </div>
        {% endif %}

        <button class="input__button">{{ edit_role is defined ? 'Update role' : 'Create role' }}</button>
    </form>
{% endblock %}
