{% extends 'manage/users/master.twig' %}
{% from 'manage/macros.twig' import pagination %}

{% block content %}
    {% if can_manage_roles %}
        <div class="container">
            <a href="?v=role" class="button">Create new Role</a>
        </div>
    {% endif %}

    <div class="container listing role-listing">
        {% for role in manage_roles %}
            <a href="?v=role&amp;r={{ role.role_id }}" class="listing__entry role-listing__entry"{% if not role.role_colour|colour_get_inherit %} style="{{ role.role_colour|html_colour({'border-color':'%s'}) }}"{% endif %}>
                <div class="listing__entry__content role-listing__entry__content">
                    {{ role.role_name }}
                    {{ role.users }} users
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="container container--center">
        {{ pagination(manage_roles_count, manage_roles_range, manage_roles_offset, '?v=roles') }}
    </div>
{% endblock %}
