{% extends 'manage/users/master.twig' %}
{% from 'macros.twig' import pagination, container_title %}
{% from 'user/macros.twig' import user_profile_warning %}
{% from '_layout/input.twig' import input_text, input_csrf, input_select, input_hidden %}

{% block manage_content %}
    <form class="container container--lazy" action="" method="post">
        {{ container_title('<i class="fas fa-users fa-fw"></i> Filters') }}
        {{ input_text('lookup', null, warnings.username, 'text', 'Enter a username') }}
        <button class="input__button">Filter</button>
    </form>

    {% if warnings.user_id > 0 and warnings.username|length > 0 %}{# shittiest validation in the world, but it should work #}
        <form class="container container--lazy" method="post" action="">
            {{ container_title('<i class="fas fa-user-shield fa-fw"></i> Warn ' ~ warnings.username) }}
            {{ input_csrf('users_edit') }}
            {{ input_hidden('warning[user]', warnings.user_id) }}

            {{ input_select('warning[type]', warnings.types) }}
            {{ input_text('warning[note]', '', '', 'text', 'Public note') }}
            {{ input_text('warning[until]', '', ''|date('c'), 'datetime-local') }} (empty to set null)
            <button class="input__button">Add</button><br>

            <textarea class="input__textarea" name="warning[private]" placeholder="Private note"></textarea>
        </form>
    {% endif %}

    <div class="container container--lazy">
        {{ container_title('<i class="fas fa-exclamation-circle fa-fw"></i> Warnings') }}
        {% set warnpag = pagination(warnings.count, warnings.take, warnings.offset, '/manage/users.php?v=warnings') %}

        {{ warnpag }}

        <div class="profile__warnings__container">
            <div class="profile__warning profile__warning--extendo">
                <div class="profile__warning__background"></div>

                <div class="profile__warning__tools">
                    <div class="profile__warning__user">
                        <div class="profile__warning__user__username">
                            User
                        </div>
                        <div class="profile__warning__user__ip">
                            User IP
                        </div>
                    </div>

                    <div class="profile__warning__user">
                        <div class="profile__warning__user__username">
                            Issuer
                        </div>
                        <div class="profile__warning__user__ip">
                            Issuer IP
                        </div>
                    </div>
                </div>

                <div class="profile__warning__content">
                    <div class="profile__warning__type">
                        Type
                    </div>

                    <div class="profile__warning__created">
                        Created
                    </div>

                    <div class="profile__warning__duration">
                        Expires
                    </div>

                    <div class="profile__warning__note">
                        Note
                    </div>
                </div>
            </div>

            {% for warning in warnings.list %}
                {{ user_profile_warning(warning, true, true, true, true, csrf_token('warning-delete[%d]'|format(warning.warning_id))) }}
            {% endfor %}
        </div>

        {{ warnpag }}
    </div>
{% endblock %}
