{% set menus = [
    {
        'name': 'general',
        'title': 'General',
        'sections': [
            [
                {
                    'name': 'overview',
                    'title': 'Overview',
                    'url': '/manage/index.php?v=overview',
                },
                {
                    'name': 'logs',
                    'title': 'Logs',
                    'url': '/manage/index.php?v=logs',
                },
            ],
            [
                {
                    'name': 'emotes',
                    'title': 'Emoticons',
                    'url': '/manage/index.php?v=emoticons',
                },
                {
                    'name': 'settings',
                    'title': 'Settings',
                    'url': '/manage/index.php?v=settings',
                },
            ],
        ],
    },
    {
        'name': 'users',
        'title': 'Users',
        'sections': [
            [
                {
                    'name': 'listing',
                    'title': 'Listing',
                    'url': '/manage/users.php?v=listing',
                },
            ],
            [
                {
                    'name': 'roles',
                    'title': 'Roles',
                    'url': '/manage/users.php?v=roles',
                },
                {
                    'name': 'perms',
                    'title': 'Permissions',
                    'url': '/manage/users.php?v=permissions',
                },
            ],
            [
                {
                    'name': 'report',
                    'title': 'Reports',
                    'url': '/manage/users.php?v=reports',
                },
                {
                    'name': 'restrictions',
                    'title': 'Restrictions',
                    'url': '/manage/users.php?v=restrictions',
                },
                {
                    'name': 'blacklist',
                    'title': 'Blacklisting',
                    'url': '/manage/users.php?v=blacklist',
                },
            ],
        ],
    },
    {
        'name': 'forum',
        'title': 'Forum',
        'sections': [
            [
                {
                    'name': 'forums',
                    'title': 'Listing',
                    'url': '/manage/forums.php?v=listing',
                },
                {
                    'name': 'perms',
                    'title': 'Permissions',
                    'url': '/manage/forums.php?v=permissions',
                },
                {
                    'name': 'settings',
                    'title': 'Settings',
                    'url': '/manage/forums.php?v=settings',
                },
            ],
        ],
    },
    {
        'name': 'changelog',
        'title': 'Changelog',
        'sections': [
            [
                {
                    'name': 'changes',
                    'title': 'Changes',
                    'url': '/manage/changelog.php?v=changes',
                },
                {
                    'name': 'tags',
                    'title': 'Tags',
                    'url': '/manage/changelog.php?v=tags',
                },
                {
                    'name': 'actions',
                    'title': 'Actions',
                    'url': '/manage/changelog.php?v=actions',
                },
            ],
        ],
    },
] %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Flashii Broom Closet</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="/css/manage.css" rel="stylesheet">
        <link href="/css/libraries.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="manage">
        <div class="wrapper">
            <nav class="header">
                <div class="header__wrapper">
                    <a class="header__logo" href="/manage/index.php">
                        Broom Closet
                    </a>

                    <div class="header__navigation">
                        {% for menu in menus %}
                            <div class="header__menu">
                                <input type="checkbox" id="menu-{{ menu.name }}-state" class="header__menu__state">
                                <label for="menu-{{ menu.name }}-state" class="header__menu__toggle">{{ menu.title }}</label>
                                <div class="header__menu__options">
                                    {% for section in menu.sections %}
                                        <div class="header__menu__section">
                                            {% for item in section %}
                                                <a class="header__menu__link header__menu__link--{{ menu.name }}-{{ item.name }}" href="{{ item.url }}">{{ item.title }}</a>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="header__user">
                        <div class="header__menu">
                            <input type="checkbox" id="menu-user-state" class="header__menu__state">
                            <label for="menu-user-state" class="header__menu__toggle header__menu__toggle--profile" style="background-image:url('/profile.php?u={{ current_user.user_id }}&amp;m=avatar');{{ current_user.colour|html_colour }}">{{ current_user.username }}</label>
                            <div class="header__menu__options header__menu__options--user">
                                <div class="header__menu__section">
                                    <a class="header__menu__link" href="/profile.php?u={{ current_user.user_id }}">Profile</a>
                                    <a class="header__menu__link" href="/settings.php">Settings</a>
                                </div>
                                <div class="header__menu__section">
                                    <a class="header__menu__link" href="/">Return</a>
                                    <a class="header__menu__link" href="/auth.php?m=logout&amp;s={{ csrf_token() }}">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            {% block content %}
                <div class="container">
                    <p>This page has no content.</p>
                </div>
            {% endblock %}

            <footer class="footer">
                {{ 'https://flash.moe'|html_link('Flashwave', 'footer__link')|raw }} 2013-{{
                ''|date('Y') }} /
                <span title="{{ git_hash(true) }}">
                    {{ git_branch() }} # {{ git_hash() }}
                </span>
                {# link('https://github.com/flashwave/misuzu/tree/' ~ git_branch(), git_branch(), 'footer__link') }} # {{ link('https://github.com/flashwave/misuzu/commit/' ~ git_hash(true), git_hash(), 'footer__link') #}
            </footer>
        </div>
        <script src="/js/libraries.js" charset="utf-8"></script>
        <script>
            window.addEventListener('load', () => {
                timeago().render(document.querySelectorAll('time'));
                hljs.initHighlighting();
            });
        </script>
    </body>
</html>
