{% extends 'manage/changelog/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from '_layout/input.twig' import input_csrf, input_text, input_checkbox %}

{% block manage_content %}
    <div class="container">
        <form action="?v=action{{ edit_action is defined ? '&a=' ~ edit_action.action_id : '' }}" method="post">
            {{ input_csrf('changelog_action') }}

            {{ container_title(edit_action is defined ? 'Editing ' ~ edit_action.action_name ~ ' (' ~ edit_action.action_id ~ ')' : 'Adding a new action') }}

            <label class="form__label">
                <div class="form__label__text">Name</div>
                <div class="form__label__input">
                    {{ input_text('action[name]', '', edit_action is defined ? edit_action.action_name : '', 'text', '', true, {'maxlength':50}) }}
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Class</div>
                <div class="form__label__input">
                    {{ input_text('action[class]', '', edit_action is defined ? edit_action.action_class : '', 'text', '', true, {'maxlength':20}) }}
                </div>
            </label>

            <h2 class="container__subtitle">Colour</h2>

            {% set colour_props = edit_action.action_colour|default(constant('MSZ_COLOUR_INHERIT'))|colour_props %}

            <label class="form__label">
                <div class="form__label__text">Inherit Colour</div>
                <div class="form__label__input">
                    {{ input_checkbox('action[colour][inherit]', '', colour_props.inherit) }}
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Red</div>
                <div class="form__label__input">
                    {{ input_text('action[colour][red]', '', colour_props.red, 'number', '', false, {'min':0,'max':255}) }}
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Green</div>
                <div class="form__label__input">
                    {{ input_text('action[colour][green]', '', colour_props.green, 'number', '', false, {'min':0,'max':255}) }}
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Blue</div>
                <div class="form__label__input">
                    {{ input_text('action[colour][blue]', '', colour_props.blue, 'number', '', false, {'min':0,'max':255}) }}
                </div>
            </label>

            <div>
                <button class="input__button">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
