{% extends 'manage/changelog/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from '_layout/input.twig' import input_csrf, input_text, input_select %}

{% if edit_change is defined %}
    {% set site_link = '/changelog.php?c=' ~ edit_change.change_id %}
{% endif %}

{% block manage_content %}
    <div class="container">
        <form action="?v=change{{ edit_change is defined ? '&c=' ~ edit_change.change_id : '' }}" method="post">
            {{ input_csrf('changelog_add') }}

            {{ container_title(edit_change is defined ? 'Editing #' ~ edit_change.change_id : 'Adding a new change') }}

            <label class="form__label" style="width:100%">
                <div class="form__label__text">Log</div>
                <div class="form__label__input">
                    {{ input_text('change[log]', '', edit_change is defined ? edit_change.change_log : '', 'text', '', true, {'maxlength':255}) }}
                </div>
            </label>

            <label class="form__label" style="width:100%">
                <div class="form__label__text">Text</div>
                <div class="form__label__input">
                    <textarea class="input__textarea" name="change[text]" maxlength="65535">{{ edit_change is defined ? edit_change.change_text : '' }}</textarea>
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Action</div>
                <div class="form__label__input">
                    {{ input_select('change[action]', changelog_actions, edit_change.action_id|default(0), 'action_name', 'action_id') }}
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Contributor Id</div>
                <div class="form__label__input">
                    {{ input_text('change[user]', '', edit_change.user_id|default(current_user.user_id), 'number', '', false, {'min':1}) }}
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Created</div>
                <div class="form__label__input">
                    {{ input_text('change[created]', '', (edit_change is defined ? edit_change.change_created : ''|date('Y-m-d H:i:s')), 'text', '', true) }}
                </div>
            </label>

            <div>
                <button class="input__button">Save</button>
            </div>
        </form>

        {% if edit_change is defined %}
            {{ container_title('Tags') }}

            {% if edit_change_assigned_tags|length > 0 %}
                <form method="post" action="" style="display:inline-block">
                    <label class="form__label">
                        <div class="form__label__text">Assigned Tags</div>
                        <div class="form__label__input">
                            {{ input_select('remove_tag', edit_change_assigned_tags, '', 'tag_name', 'tag_id') }}
                        </div>
                    </label>

                    <button class="input__button" name="csrf" value="{{ csrf_token('changelog_add') }}">Remove</button>
                </form>
            {% endif %}

            {% if edit_change_available_tags|length > 0 %}
                <form class="container" method="post" action="" style="display:inline-block">
                    <label class="form__label">
                        <div class="form__label__text">Available Tags</div>
                        <div class="form__label__input">
                            {{ input_select('add_tag', edit_change_available_tags, '', 'tag_name', 'tag_id') }}
                        </div>
                    </label>

                    <button class="input__button" name="csrf" value="{{ csrf_token('changelog_add') }}">Add</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
