{% extends 'manage/changelog/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from '_layout/input.twig' import input_csrf, input_text, input_select, input_checkbox %}

{% if change is not null %}
    {% set site_link = url('changelog-change', {'change': change.change_id}) %}
{% endif %}

{% block manage_content %}
    <div class="container">
        <form action="{{ url('manage-changelog-change', {'change': change.change_id|default(0)}) }}" method="post">
            {{ input_csrf('changelog_add') }}

            {{ container_title(change is not null ? 'Editing #' ~ change.change_id : 'Adding a new change') }}

            <div style="display: flex; margin: 2px 5px;">
                {{ input_select('change[action]', change_actions, change.change_action|default(0), 'action_name', 'action_id') }}
                {{ input_text('change[log]', '', change is not null ? change.change_log : '', 'text', '', true, {'maxlength':255,'style':'flex-grow:1'}) }}
            </div>

            <label class="form__label">
                <div class="form__label__text">Text</div>
                <div class="form__label__input">
                    <textarea class="input__textarea" name="change[text]" maxlength="65535">{{ change is not null ? change.change_text : '' }}</textarea>
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Contributor Id</div>
                <div class="form__label__input">
                    {{ input_text('change[user]', '', change.user_id|default(current_user.user_id), 'number', '', false, {'min':1}) }}
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Created</div>
                <div class="form__label__input">
                    {{ input_text('change[created]', '', (change is not null ? change.change_created : ''|date('Y-m-d H:i:s')), 'text', '', true) }}
                </div>
            </label>

            <div class="manage__tags">
                {% for tag in change_tags %}
                    <label class="manage__tag">
                        <div class="manage__tag__background"></div>
                        <div class="manage__tag__content">
                            {{ input_checkbox('tags[]', '', tag.has_tag, 'manage__tag__checkbox', tag.tag_id) }}
                            <div class="manage__tag__title">
                                {{ tag.tag_name }}
                            </div>
                        </div>
                    </label>
                {% endfor %}
            </div>

            <div>
                <button class="input__button">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
