{% extends 'manage/changelog/master.twig' %}
{% from 'macros.twig' import pagination, container_title %}
{% from 'changelog/macros.twig' import changelog_listing %}

{% block manage_content %}
    {% set changelog_pagination = pagination(changelog_pagination, url('manage-changelog-changes')) %}


    <div class="container">
        {{ container_title('Changelog') }}

        <div class="changelog__content">
            <div class="changelog__pagination">
                <a href="{{ url('manage-changelog-change') }}" class="input__button">Create new change</a>
                {{ changelog_pagination }}
            </div>

            {{ changelog_listing(changelog_changes, false, false, true) }}

            <div class="changelog__pagination">
                {{ changelog_pagination }}
            </div>
        </div>
    </div>
{% endblock %}
