{% extends 'manage/changelog/master.twig' %}

{% block manage_content %}
    <div class="container">
        <form action="?v=tag{{ edit_tag is defined ? '&t=' ~ edit_tag.tag_id : '' }}" method="post">
            {{ 'changelog_tag'|csrf|raw }}

            <h1 class="container__title">
                {% if edit_tag is defined %}
                    Editing {{ edit_tag.tag_name }} ({{ edit_tag.tag_id }})
                {% else %}
                    Adding a new tag
                {% endif %}
            </h1>

            <label class="form__label" style="width:100%">
                <div class="form__label__text">Name</div>
                <div class="form__label__input">
                    <input class="input__text" type="text" value="{{ edit_tag is defined ? edit_tag.tag_name : '' }}" name="tag[name]" maxlength="255">
                </div>
            </label>

            <label class="form__label" style="width:100%">
                <div class="form__label__text">Description</div>
                <div class="form__label__input">
                    <textarea class="input__textarea" name="tag[description]" maxlength="65535">{{ edit_tag is defined ? edit_tag.tag_description : '' }}</textarea>
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Archived</div>
                <div class="form__label__input">
                    <input class="input" type="checkbox" name="tag[archived]"{% if edit_tag is defined and edit_tag.tag_archived is not null %} checked{% endif %}>
                </div>
            </label>

            {% if edit_tag is defined %}
                <label class="form__label">
                    <div class="form__label__text">Created</div>
                    <div class="form__label__input">
                        <input class="input__text" type="text" value="{{ edit_tag.tag_created }}" readonly>
                    </div>
                </label>
            {% endif %}

            <div>
                <button class="input__button">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
