{% extends 'manage/changelog/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from '_layout/input.twig' import input_csrf, input_text, input_checkbox %}

{% block manage_content %}
    <div class="container">
        <form action="?v=tag{{ edit_tag is defined ? '&t=' ~ edit_tag.tag_id : '' }}" method="post">
            {{ input_csrf('changelog_tag') }}

            {{ container_title(edit_tag is defined ? 'Editing ' ~ edit_tag.tag_name ~ ' (' ~ edit_tag.tag_id ~ ')' : 'Adding a new tag') }}

            <label class="form__label" style="width:100%">
                <div class="form__label__text">Name</div>
                <div class="form__label__input">
                    {{ input_text('tag[name]', '', edit_tag is defined ? edit_tag.tag_name : '', 'text', '', true, {'maxlength':255}) }}
                </div>
            </label>

            <label class="form__label" style="width:100%">
                <div class="form__label__text">Description</div>
                <div class="form__label__input">
                    <textarea class="input__textarea" name="tag[description]" maxlength="65535">{{ edit_tag is defined ? edit_tag.tag_description : '' }}</textarea>
                </div>
            </label>

            <label class="form__label">
                <div class="form__label__text">Archived</div>
                <div class="form__label__input">
                    {{ input_checkbox('tag[archived]', '', edit_tag is defined and edit_tag.tag_archived is not null) }}
                </div>
            </label>

            {% if edit_tag is defined %}
                <label class="form__label">
                    <div class="form__label__text">Created</div>
                    <div class="form__label__input">
                        {{ input_text('', '', edit_tag.tag_created) }}
                    </div>
                </label>
            {% endif %}

            <div>
                <button class="input__button">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
