{% extends 'manage/changelog/master.twig' %}
{% from 'macros.twig' import container_title %}

{% block manage_content %}
    <div class="changelog-actions-tags">
        <div class="container changelog-actions-tags__panel changelog-actions-tags__panel--tags">
            {{ container_title('Tags') }}

            <a href="{{ url('manage-changelog-tag') }}" class="input__button">Create new tag</a>

            <div class="changelog-actions-tags__list">
                {% for tag in changelog_tags %}
                    <a href="{{ url('manage-changelog-tag', {'tag': tag.id}) }}" class="changelog-actions-tags__entry">
                        <div class="listing__entry__content changelog-tags__content">
                            <div class="changelog-tags__text">
                                {{ tag.name }} ({{ tag.changeCount }})
                            </div>

                            <div class="changelog-tags__description">
                                {{ tag.description }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
