{% extends 'manage/changelog/master.twig' %}
{% from 'macros.twig' import container_title %}

{% block manage_content %}
    <div class="changelog-actions-tags">
        {% if changelog_tags is defined %}
            <div class="container changelog-actions-tags__panel changelog-actions-tags__panel--tags">
                {{ container_title('Tags') }}

                <a href="{{ url('manage-changelog-tag-create') }}" class="input__button">Create new tag</a>

                <div class="changelog-actions-tags__list">
                    {% for tag in changelog_tags %}
                        <a href="{{ url('manage-changelog-tag-edit', {'tag': tag.tag_id}) }}" class="changelog-actions-tags__entry">
                            <div class="listing__entry__content changelog-tags__content">
                                <div class="changelog-tags__text">
                                    {{ tag.tag_name }} ({{ tag.tag_count }})
                                </div>

                                <div class="changelog-tags__description">
                                    {{ tag.tag_description }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
