{% extends 'settings/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from '_layout/input.twig' import input_hidden, input_csrf, input_text %}

{% block settings_content %}
    <div class="warning">
        <div class="warning__content">
            A few of the elements on this page have been moved to the on-profile editor. To find them, go to your profile and hit the "Edit Profile" button below your avatar.
        </div>
    </div>

    <div class="container container--translucent">
        {{ container_title('Account') }}

        <form action="" method="post" class="settings__account">
            {{ input_csrf('settings') }}

            <div class="settings__account__row">
                {% if settings_disable_account_options %}
                    <div class="settings__account__column settings__account__column--no-margin settings__account__column--disabled">
                        <div class="settings__account__row">
                            <div class="settings__account__column">
                                <div class="settings__account__title">E-mail and Password changing</div>
                                <div class="settings__account__disabled">
                                    <a class="input__button" href="https://flashii.net/settings.php?m=account">Go to main site</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="settings__account__column settings__account__column--no-margin">
                        <div class="settings__account__row">
                            <div class="settings__account__column">
                                <div class="settings__account__title">E-mail</div>

                                <label class="settings__account__input">
                                    <div class="settings__account__input__name">
                                        Current e-mail address
                                    </div>
                                    <div class="settings__account__input__value">
                                        {{ input_text('', 'settings__account__input__value__text', account_info.email) }}
                                    </div>
                                </label>

                                <label class="settings__account__input">
                                    <div class="settings__account__input__name">
                                        New e-mail Address
                                    </div>
                                    <div class="settings__account__input__value">
                                        {{ input_text('email[new]', 'settings__account__input__value__text') }}
                                    </div>
                                </label>

                                <label class="settings__account__input">
                                    <div class="settings__account__input__name">
                                        Confirmation
                                    </div>
                                    <div class="settings__account__input__value">
                                        {{ input_text('email[confirm]', 'settings__account__input__value__text') }}
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="settings__account__row">
                            <div class="settings__account__column">
                                <div class="settings__account__title">Password</div>

                                <label class="settings__account__input">
                                    <div class="settings__account__input__name">
                                        New Password
                                    </div>
                                    <div class="settings__account__input__value">
                                        {{ input_text('password[new]', 'settings__account__input__value__text', '', 'password') }}
                                    </div>
                                </label>

                                <label class="settings__account__input">
                                    <div class="settings__account__input__name">
                                        Confirmation
                                    </div>
                                    <div class="settings__account__input__value">
                                        {{ input_text('password[confirm]', 'settings__account__input__value__text', '', 'password') }}
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="settings__account__row">
                            <div class="settings__account__column">
                                <div class="settings__account__title">Confirmation</div>

                                <label class="settings__account__input">
                                    <div class="settings__account__input__name">
                                        Current Password
                                    </div>
                                    <div class="settings__account__input__value">
                                        {{ input_text('current_password', 'settings__account__input__value__text', '', 'password') }}
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            {% if not settings_disable_account_options %}
                <div class="settings__account__row settings__account__row--buttons">
                    <button class="input__button">Update</button>
                    <button class="input__button" type="reset">Reset</button>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
