{% extends 'news/master.twig' %}
{% from 'macros.twig' import pagination, container_title %}
{% from 'news/macros.twig' import news_preview %}

{% set title = category.category_name ~ ' :: News' %}
{% set manage_link = '/manage/news.php?v=category&c=' ~ category.category_id %}
{% set canonical_url = '/news.php'|url_construct({
    'c': category.category_id,
    'o': posts_offset,
}) %}

{% block content %}
    <div class="news__container">
        <div class="news__preview__listing">
            {% for post in posts %}
                {{ news_preview(post) }}
            {% endfor %}
        </div>

        <div class="news__sidebar">
            <div class="container news__list">
                {{ container_title('News » ' ~ category.category_name) }}

                <div class="container__content">
                    {{ category.category_description|length > 0 ? category.category_description : '' }}
                </div>
            </div>

            {% if featured|length > 0 %}
                <div class="container news__list">
                    {{ container_title('Featured Posts') }}

                    <div class="container__content">
                        {% for featured_post in featured %}
                            <a class="news__list__item" href="/news.php?p={{ featured_post.post_id }}">{{ featured_post.post_title }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {{ pagination(category.posts_count, posts_take, posts_offset, '/news.php?c=' ~ category.category_id) }}
        </div>
    </div>
{% endblock %}
