{% from '_layout/input.twig' import input_checkbox_raw %}
{% set in_manage = manage_menu is defined %}

<nav class="headerv1">
    <div class="headerv1__background"></div>
    <div class="headerv1__wrapper">
        <div class="headerv1__icons">
            <label class="headerv1__icon headerv1__icon--menu" for="toggle-mobile-header-menu">
                <i class="fas fa-bars"></i>
            </label>

            <a class="headerv1__logo{% if in_manage %} headerv1__logo--manage{% endif %}" href="/">
                {{ globals.site_name }}
            </a>

            <label style="background-image:url('/profile.php?u={{ current_user.user_id|default(0) }}&amp;m=avatar');"
                class="avatar headerv1__icon headerv1__icon--user"
                for="toggle-mobile-header-user"></label>
        </div>
        {# set user_is_tester = current_user.general_perms|default(0)|perms_check(constant('MSZ_PERM_GENERAL_TESTER')) #}

        {{ input_checkbox_raw('', false, 'headerv1__menu-toggle', '', false, {'id':'toggle-mobile-header-menu'}) }}
        <ul class="headerv1__menu">
            <li class="headerv1__menu__item">
                <a href="/" class="headerv1__menu__link">Home</a>
                <ul class="headerv1__submenu">
                    <li class="headerv1__submenu__item"><a href="/members.php" class="headerv1__submenu__link">Members</a></li>
                    <li class="headerv1__submenu__item"><a href="/changelog.php" class="headerv1__submenu__link">Changelog</a></li>
                    <li class="headerv1__submenu__item"><a href="/info.php/contact" class="headerv1__submenu__link">Contact</a></li>
                    <li class="headerv1__submenu__item"><a href="/info.php/rules" class="headerv1__submenu__link">Rules</a></li>
                    <li class="headerv1__submenu__item"><a href="https://twitter.com/flashiinet" class="headerv1__submenu__link" rel="noreferrer noopener" target="_blank">Twitter</a></li>
                </ul>
            </li>
            <li class="headerv1__menu__item"><a href="/news.php" class="headerv1__menu__link">News</a></li>
            <li class="headerv1__menu__item">
                <a href="/forum/" class="headerv1__menu__link">Forum</a>
                {#<ul class="headerv1__submenu">
                    <li class="headerv1__submenu__item"><a href="#" class="headerv1__submenu__link">Unanswered Posts</a></li>
                    <li class="headerv1__submenu__item"><a href="#" class="headerv1__submenu__link">New Posts</a></li>
                    <li class="headerv1__submenu__item"><a href="#" class="headerv1__submenu__link">Your Posts</a></li>
                </ul>#}
            </li>
            <li class="headerv1__menu__item"><a href="https://chat.flashii.net" class="headerv1__menu__link">Chat</a></li>
        </ul>

        {{ input_checkbox_raw('', false, 'headerv1__user-toggle', '', false, {'id':'toggle-mobile-header-user'}) }}
        <div class="headerv1__user">
            {% if current_user is defined %}
                <a href="/profile.php?u={{ current_user.user_id }}" title="Profile" class="headerv1__user__button">
                    <i class="fas fa-user fa-fw"></i>
                </a>

                <a href="/settings.php" title="Settings" class="headerv1__user__button">
                    <i class="fas fa-cog fa-fw"></i>
                </a>

                {% if has_manage_access %}
                    {% if in_manage %}
                        <a href="{{ site_link|default('/') }}" title="Return to the Site" class="headerv1__user__button">
                            <i class="fas fa-door-open fa-fw"></i>
                        </a>
                    {% else %}
                        <a href="{{ manage_link|default('/manage/index.php') }}" title="Enter Manage" class="headerv1__user__button">
                            <i class="fas fa-door-closed fa-fw"></i>
                        </a>
                    {% endif %}
                {% endif %}

                <a href="/auth.php?m=logout&amp;s={{ csrf_token('logout') }}" title="Log out" class="headerv1__user__button">
                    <i class="fas fa-sign-out-alt fa-fw"></i>
                </a>

                <a href="/profile.php?u={{ current_user.user_id }}" class="avatar headerv1__user__avatar"
                    style="background-image:url('/profile.php?u={{ current_user.user_id }}&amp;m=avatar');" title="{{ current_user.username }}"></a>
            {% else %}
                <a href="/auth.php?m=register" title="Register" class="headerv1__user__button">
                    <i class="fas fa-user-plus fa-fw"></i>
                </a>

                <a href="/auth.php?m=login" title="Log in" class="headerv1__user__button">
                    <i class="fas fa-sign-in-alt fa-fw"></i>
                </a>

                <a href="/auth.php?m=login" class="avatar headerv1__user__avatar"
                    style="background-image:url('/profile.php?m=avatar');"></a>
            {% endif %}
        </div>
    </div>
</nav>
