{% extends '@manage/users/master.twig' %}
{% from '@manage/macros.twig' import paginate %}

{% block content %}
    <div class="container listing user-listing">
        {% for user in manage_users %}
            <a href="?v=view&amp;u={{ user.user_id }}" class="listing__entry user-listing__entry"{% if not user.colour|colour_get_inherit %} style="border-color: {{ user.colour|colour_get_css }}"{% endif %}>
                <div class="listing__entry__content user-listing__entry__content">
                    <div class="listing__entry__column user-listing__entry__column user-listing__entry__column--username">
                        {{ user.username }}
                    </div>
                    <div class="user-listing__avatar" style="background-image:url('/profile.php?u={{ user.user_id }}&amp;m=avatar');"></div>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="container container--center">
        {{ paginate(manage_users, '?v=listing') }}
    </div>
{% endblock %}
