<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include '_layout/meta.twig' %}
        <link href="{{ '/css/libraries.css'|asset_url }}" rel="stylesheet">
        <link href="{{ '/css/style.css'|asset_url }}" rel="stylesheet">
        {% if site_background is defined %}
            <style>
                :root {
                    --background-width: {{ site_background.width }}px;
                    --background-height: {{ site_background.height }}px;
                    --background-image: url('{{ site_background.url|raw }}');
                }
            </style>
        {% endif %}
    </head>

    <body class="main{% if site_background is defined %} {{ site_background.settings|bg_settings('main--bg-%s')|join(' ') }}{% endif %}"
        style="{% if global_accent_colour is defined %}{{ global_accent_colour|html_colour('--accent-colour') }}{% endif %}">
        {% if current_user.general_perms|default(0)|perms_check(constant('MSZ_PERM_GENERAL_TESTER')) %}
            {% include '_layout/header.twig' %}
        {% else %}
            {% include '_layout/header-old.twig' %}
        {% endif %}

        <div class="main__wrapper">
            {% if current_user.ban_expiration|default(0) > 0 or current_user.silence_expiration|default(0) > 0 %}
                <div class="warning">
                    <div class="warning__content">
                        You have been {{ current_user.silence_expiration ? 'silenced' : 'banned' }} until <strong>{{ (current_user.silence_expiration ? current_user.silence_expiration : current_user.ban_expiration)|date('r') }}</strong>, view the account standing table on <a href="/profile.php?u={{ current_user.user_id }}#account-standing" class="warning__link">your profile</a> to view why.
                    </div>
                </div>
            {% endif %}

            {% block content %}
                This page has no content!
            {% endblock %}
        </div>

        {% include '_layout/footer.twig' %}

        {% if current_user is defined %}
            <script type="application/json" id="js-user-info">
                {{ current_user|json_encode|raw }}
            </script>
        {% endif %}
        <script type="application/json" id="js-csrf-tokens">
            {{ get_csrf_tokens()|json_encode|raw }}
        </script>
        <script src="{{ '/js/libraries.js'|asset_url }}"></script>
        <script src="{{ '/js/misuzu.js'|asset_url }}"></script>
    </body>
</html>
