{% extends 'auth/master.twig' %}

{% block content %}
    <div class="auth-container">
        <div class="form__wrapper">
            <input class="form__toggle" id="_authmode_login" type="radio" name="_authmode"{% if auth_mode == 'login' %} checked{% endif %}>
            <div class="form form--login">
                <label class="form__title" for="_authmode_login">Login</label>
                <form class="form__content" method="post" action="?m=login">
                    <label class="form__row">
                        <input class="text text--username" type="text" name="username" placeholder="username" value="{{ auth_username|default('') }}" required>
                    </label>

                    <label class="form__row">
                        <input class="text text--password" type="password" name="password" placeholder="password" required>
                    </label>

                    <div class="form__row form__row--columns">
                        <div class="form__column form__column--message{% if auth_login_error is defined %} form__column--error{% endif %}">
                            {{ auth_login_message|default(auth_login_error|default('')) }}
                        </div>

                        <div class="form__column">
                            <button class="button button--login">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="form__wrapper">
            <input class="form__toggle" id="_authmode_register" type="radio" name="_authmode"{% if auth_mode == 'register' %} checked{% endif %}>
            <div class="form form-register">
                <label class="form__title" for="_authmode_register">Create an account</label>
                {% if prevent_registration|default(false) %}
                    <div class="form__content form__content--no-registration">
                        <p>You're currently using the site via the public testing website, if you want to create an account please do so from the <a class="form__link" href="https://flashii.net/auth.php?m=register" rel="noopener noreferrer">main website</a>.</p>
                    </div>
                {% else %}
                    <form class="form__content" method="post" action="?m=register">
                        <label class="form__row">
                            <input class="text text--username" type="text" name="username" placeholder="username" value="{{ auth_username|default('') }}" required>
                        </label>

                        <label class="form__row">
                            <input class="text text--password" type="password" name="password" placeholder="password" required>
                        </label>

                        <label class="form__row">
                            <input class="text text--email" type="text" name="email" placeholder="e-mail" value="{{ auth_email|default('') }}" required>
                        </label>

                        <div class="form__row form__row--columns">
                            <div class="form__column form__column--message{% if auth_register_error is defined %} form__column--error{% endif %}">
                                {{ auth_register_message|default(auth_register_error|default('')) }}
                            </div>
                            <div class="form__column">
                                <button class="button button--register">Sign up</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>

        <div class="form__wrapper">
            <input class="form__toggle" id="_authmode_forgot" type="radio" name="_authmode"{% if auth_mode == 'forgot' %} checked{% endif %}>
            <div class="form form--forgot">
                <label class="form__title" for="_authmode_forgot">Forgot your password</label>
                <form class="form__content" method="post" action="?m=forgot">
                    <label class="form__row">
                        <input class="text text--email" type="text" name="email" placeholder="e-mail" value="{{ auth_email|default('') }}" required>
                    </label>

                    <div class="form__row form__row--columns">
                        <div class="form__column form__column--message{% if auth_forgot_error is defined %} form__column--error{% endif %}">
                            {{ auth_forgot_message|default(auth_forgot_error|default('')) }}
                        </div>
                        <div class="form__column">
                            <button class="button button--forgot">Send reminder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
