{% extends 'auth/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from '_layout/input.twig' import input_hidden, input_csrf, input_text %}

{% set title = 'Forgot password' %}

{% block content %}
    <form class="container auth__container auth__password" method="post" action="{{ url('auth-forgot') }}">
        {{ container_title('<i class="fas fa-user-lock fa-fw"></i> Forgot password') }}
        {{ input_csrf('passforgot') }}

        {% if password_notices|length > 0 %}
            <div class="warning auth__warning">
                <div class="warning__content">
                    {% for notice in password_notices %}
                        <p class="auth__warning__paragraph">{{ notice }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <label class="auth__label">
            <div class="auth__label__text">
                E-mail
            </div>
            <div class="auth__label__value">
                {{ input_text('forgot[email]', 'auth__label__input', password_email, 'text', '', true, null, 1) }}
            </div>
        </label>

        <div class="auth__buttons">
            <button class="input__button auth__buttons__button" tabindex="2">Send Reminder</button>
            <a href="{{ url('auth-login') }}" class="input__button auth__buttons__button auth__buttons__button--minor" tabindex="3">Log in</a>
        </div>
    </form>
{% endblock %}
