{% extends 'auth/master.twig' %}
{% from 'macros.twig' import container_title %}

{% block content %}
    <form class="container auth" method="post" action="">
        <input type="hidden" name="auth[mode]" value="reset">
        <input type="hidden" name="auth[user]" value="{{ reset_user.user_id }}">

        {{ container_title('Resetting password for ' ~ reset_user.username) }}

        <div class="warning auth__warning{% if auth_reset_error is not defined %} auth__warning--welcome{% endif %}">
            <div class="warning__content">
                {{ auth_reset_error|default(auth_reset_message|default('')) }}
            </div>
        </div>

        <div class="auth__form">
            <input type="{{ reset_verify is defined ? 'hidden' : 'text' }}"
                class="input__text input__text--monospace auth__input" type="text"
                name="auth[verification]" placeholder="verification code" maxlength="12"
                value="{{ reset_verify|default('') }}" required>

            <input class="input__text auth__input" type="password"
                name="auth[password][new]" placeholder="new password" required>

            <input class="input__text auth__input" type="password"
                name="auth[password][confirm]" placeholder="confirm password" required>

            <button class="input__button">Change password</button>
        </div>
    </div>
{% endblock %}
