{% extends 'auth/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from '_layout/input.twig' import input_hidden, input_csrf, input_text %}

{% set title = 'Two Factor Authentication' %}

{% block content %}
    <form class="container auth__container auth__twofactor" method="post" action="{{ url('auth-login') }}">
        {{ container_title('<i class="fas fa-user-shield fa-fw"></i> Two Factor Authentication') }}

        {{ input_csrf('login') }}
        {{ input_hidden('login[redirect]', login_redirect) }}
        {{ input_hidden('login[username]', login_username) }}
        {{ input_hidden('login[password]', login_password) }}

        {% if login_notices|length > 0 %}
            <div class="warning auth__warning">
                <div class="warning__content">
                    {% for notice in login_notices %}
                        <p class="auth__warning__paragraph">{{ notice }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <label class="auth__label">
            <div class="auth__label__text">
               Code
            </div>
            <div class="auth__label__value">
                {{ input_text('login[tfa]', 'input__text--monospace auth__label__input', '', 'text', '', true, {'maxlength':6}, 1) }}
            </div>
        </label>

        <div class="auth__buttons">
            <button class="input__button auth__buttons__button" tabindex="2">Log in</button>
            <a href="{{ url('auth-login') }}" class="input__button auth__buttons__button auth__buttons__button--minor" tabindex="3">Log out</a>
        </div>
    </div>
{% endblock %}
