{% macro manage_navigation(nav) %}
    {% from 'macros.twig' import container_title %}

    {% for name, value in nav %}
        <div class="container manage__navigation">
            {{ container_title(name) }}

            <div class="manage__navigation__links">
                {% for title, link in value %}
                    <a href="{{ link }}" class="manage__navigation__link">{{ title }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro permissions_table(permissions, display_override) %}
    {% from '_layout/input.twig' import input_checkbox %}
    {% set display_override = display_override|default(false) %}

    <div class="permissions">
        {% for perms in permissions %}
            <div class="permissions__line permissions__line--header">
                <div class="permissions__title">
                    {{ perms.title }}
                </div>
                <div class="permissions__choice">
                    Yes
                </div>
                <div class="permissions__choice">
                    No
                </div>
                <div class="permissions__choice">
                    Never
                </div>
                {% if display_override %}
                    <div class="permissions__choice">
                        Override
                    </div>
                {% endif %}
            </div>

            {% for perm in perms.perms %}
                <div class="permissions__line">
                    <div class="permissions__title">
                        {{ perm.title }}
                    </div>
                    <div class="permissions__choice__wrapper">
                        {{ input_checkbox('perms[' ~ perms.section ~ '][' ~ perm.section ~ ']', '', perm.value == 'yes', 'permissions__choice permissions__choice--radio permissions__choice--yes', 'yes', true) }}
                    </div>
                    <div class="permissions__choice__wrapper">
                        {{ input_checkbox('perms[' ~ perms.section ~ '][' ~ perm.section ~ ']', '', perm.value == 'no', 'permissions__choice permissions__choice--radio permissions__choice--no', 'no', true) }}
                    </div>
                    <div class="permissions__choice__wrapper">
                        {{ input_checkbox('perms[' ~ perms.section ~ '][' ~ perm.section ~ ']', '', perm.value == 'never', 'permissions__choice permissions__choice--radio permissions__choice--never', 'never', true) }}
                    </div>
                    {% if display_override %}
                        <div class="permissions__choice__wrapper">
                            {{ input_checkbox('perms[override][' ~ perms.section ~ '][' ~ perm.section ~ ']', '', false, 'permissions__choice permissions__choice--radio', 'never') }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endmacro %}
