{% extends 'user/master.twig' %}
{% from 'macros.twig' import pagination, container_title %}
{% from '_layout/input.twig' import input_select %}
{% from 'user/macros.twig' import user_card %}

{% set canonical_url = url_construct('/members.php', {
    'r': role.role_id != 1 ? role.role_id : 0,
    'ss': order_field == order_default ? '' : order_field,
    'sd': order_fields[order_field]['default-dir'] == order_direction ? '' : order_direction,
    'o': users_offset,
    't': users_take == 15 ? 0 : users_take,
}) %}
{% set full_url = url_construct('/members.php', {
    'r': role.role_id != 1 ? role.role_id : 0,
    'ss': order_field == order_default ? '' : order_field,
    'sd': order_fields[order_field]['default-dir'] == order_direction ? '' : order_direction,
}) %}
{% set title = role.role_id == 1 ? 'Members' : 'Role » ' ~ role.role_name  %}
{% set manage_link = '/manage/users.php?v=listing' %}

{% block content %}
    <form class="container" onchange="this.submit()" style="{{ role.role_colour|html_colour('--accent-colour') }}">
        {{ container_title('Member Listing') }}

        <div class="userlist__selection">
            {{ input_select('r', roles, role.role_id, 'role_name', 'role_id') }}
            {{ input_select('ss', order_fields, order_field, 'title') }}
            {{ input_select('sd', order_directions, order_direction) }}

            <noscript>
                <button class="input__button">Go</button>
            </noscript>
        </div>
    </form>

    {% set mpagination = pagination(role.role_user_count, users_take, users_offset, full_url) %}

    {{ mpagination }}

    <div class="userlist">
        {% for user in users %}
            <div class="userlist__item">
                {{ user_card(user) }}
            </div>
        {% endfor %}
    </div>

    {{ mpagination }}
{% endblock %}
