{% macro user_card(user, profile_url, rank_url, actions) %}
    <div class="usercard" {% if user.user_colour is defined %}style="{{ user.user_colour|html_colour('--accent-colour') }}"{% endif %}>
        <a href="{{ profile_url|default('/profile.php?u=%d')|format(user.user_id) }}"
            class="usercard__background" title="{{ user.username }}"></a>

        <div class="usercard__container">
            <div class="usercard__main">
                <div class="avatar usercard__avatar"
                    style="background-image:url('/profile.php?u={{ user.user_id }}&amp;m=avatar')">
                </div>

                <div class="usercard__details">
                    <div class="usercard__name">
                        {{ user.username }}
                    </div>

                    <div class="usercard__info">
                        {% if user.user_country is defined %}
                            <div class="flag flag--{{ user.user_country|lower }} usercard__item usercard__item--country usercard__item--active" title="{{ user.user_country|country_name }}">
                                {{ user.user_country }}
                            </div>
                        {% endif %}

                        {% if user.user_title is defined %}
                            <a class="usercard__item usercard__item--title{% if user.role_id is defined %} usercard__item--active{% endif %}"{% if user.role_id is defined %} href="{{ rank_url|default('/members.php?r=%d')|format(user.role_id) }}"{% endif %} title="{{ user.user_title }}">
                                {{ user.user_title }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if actions is iterable and actions|length > 0 %}
                <div class="usercard__actions">
                    {% for action in actions %}
                        <a class="usercard__action"
                            {% if action.href is defined %}href="{{ action.href }}"{% endif %}
                            {% if action.onclick is defined %}onclick="{{ action.onclick }}"{% endif %}>
                            {{ action.text }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro user_session(session, is_current_session) %}
    {% from '_layout/input.twig' import input_hidden, input_csrf, input_checkbox_raw %}
    {% set browser = get_browser(session.session_user_agent) %}

    <div class="settings__session{% if is_current_session %} settings__session--current{% endif %}" id="session-{{ session.session_id }}">
        <div class="settings__session__container">
            <div class="settings__session__important">
                <div class="flag flag--{{ session.session_country|lower }} settings__session__flag" title="{{ session.session_country|country_name }}">{{ session.session_country }}</div>

                <div class="settings__session__description">
                    {{ browser.browser }} on {{ browser.platform }}
                </div>

                <form class="settings__session__actions" method="post" action="/settings.php">
                    {{ input_csrf('settings') }}
                    {{ input_hidden('session[]', session.session_id) }}

                    <button class="settings__session__action" title="{{ is_current_session ? 'Logout' : 'End Session' }}">
                        {% if is_current_session %}
                            <i class="fas fa-sign-out-alt"></i>
                        {% else %}
                            <i class="fas fa-times-circle"></i>
                        {% endif %}
                    </button>
                </form>
            </div>

            <div class="settings__session__details">
                <div class="settings__session__detail">
                    <div class="settings__session__detail__title">
                        IP Address
                    </div>
                    <div class="settings__session__detail__value">
                        {{ session.session_ip }}
                    </div>
                </div>

                <div class="settings__session__detail" title="{{ session.session_created|date('r') }}">
                    <div class="settings__session__detail__title">
                        Created
                    </div>
                    <time class="settings__session__detail__value" datetime="{{ session.session_created|date('c') }}">
                        {{ session.session_created|time_diff }}
                    </time>
                </div>

                <div class="settings__session__detail" title="{{ session.session_expires|date('r') }}">
                    <div class="settings__session__detail__title">
                        Expires
                    </div>
                    <time class="settings__session__detail__value" datetime="{{ session.session_expires|date('c') }}">
                        {{ session.session_expires|time_diff }}
                    </time>
                </div>

                {% if session.session_active is not null %}
                    <div class="settings__session__detail" title="{{ session.session_active|date('r') }}">
                        <div class="settings__session__detail__title">
                            Last Active
                        </div>
                        <time class="settings__session__detail__value" datetime="{{ session.session_active|date('c') }}">
                            {{ session.session_active|time_diff }}
                        </time>
                    </div>
                {% endif %}

                <div class="settings__session__detail">
                    <div class="settings__session__detail__title">
                        User Agent
                    </div>
                    <div class="settings__session__detail__value">
                        {{ session.session_user_agent|length > 0 ? session.session_user_agent : 'None' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro user_login_attempt(attempt) %}
    {% set browser = get_browser(attempt.attempt_user_agent) %}

    <div class="settings__login-attempt{% if not attempt.attempt_success %} settings__login-attempt--failed{% endif %}" id="login-attempt-{{ attempt.attempt_id }}">
        <div class="settings__login-attempt__container">
            <div class="settings__login-attempt__important">
                <div class="flag flag--{{ attempt.attempt_country|lower }} settings__login-attempt__flag" title="{{ attempt.attempt_country|country_name }}">{{ attempt.attempt_country }}</div>

                <div class="settings__login-attempt__description">
                    {{ browser.browser }} on {{ browser.platform }}
                </div>
            </div>

            <div class="settings__login-attempt__details">
                <div class="settings__login-attempt__detail">
                    <div class="settings__login-attempt__detail__title">
                        IP Address
                    </div>
                    <div class="settings__login-attempt__detail__value">
                        {{ attempt.attempt_ip }}
                    </div>
                </div>

                <div class="settings__login-attempt__detail">
                    <div class="settings__login-attempt__detail__title">
                        Succeeded
                    </div>
                    <div class="settings__login-attempt__detail__value">
                        {{ attempt.attempt_success ? 'Yes' : 'No' }}
                    </div>
                </div>

                <div class="settings__login-attempt__detail" title="{{ attempt.attempt_created|date('r') }}">
                    <div class="settings__login-attempt__detail__title">
                        Attempted
                    </div>
                    <time class="settings__login-attempt__detail__value" datetime="{{ attempt.attempt_created|date('c') }}">
                        {{ attempt.attempt_created|time_diff }}
                    </time>
                </div>

                <div class="settings__login-attempt__detail">
                    <div class="settings__login-attempt__detail__title">
                        User Agent
                    </div>
                    <div class="settings__login-attempt__detail__value">
                        {{ attempt.attempt_user_agent|length > 0 ? attempt.attempt_user_agent : 'None' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro user_account_log(data, strings) %}
    <div class="settings__account-log" id="account-log-{{ data.log_id }}">
        {% if data.user_id is defined %}
            <a href="/profile.php?u={{ data.user_id }}" class="settings__account-log__user" style="{{ data.user_colour|html_colour }}">
                <div class="avatar settings__account-log__user__avatar" style="background-image:url('/profile.php?u={{ data.user_id }}&amp;m=avatar');"></div>
                <div class="settings__account-log__user__name">{{ data.username }}</div>
            </a>
        {% endif %}

        <div class="settings__account-log__container">
            <div class="settings__account-log__important">
                <div class="flag flag--{{ data.log_country|lower }} settings__login-attempt__flag" title="{{ data.log_country|country_name }}">{{ data.log_country }}</div>

                <div class="settings__login-attempt__description">
                    {% if data.log_action in strings|keys %}
                        {{ strings[data.log_action]|log_format(data.log_params) }}
                    {% else %}
                        {{ data.log_action }}({{ data.log_params }})
                    {% endif %}
                </div>
            </div>

            <div class="settings__account-log__details">
                <div class="settings__account-log__detail">
                    <div class="settings__account-log__detail__title">
                        IP Address
                    </div>
                    <div class="settings__account-log__detail__value">
                        {{ data.log_ip }}
                    </div>
                </div>

                <div class="settings__account-log__detail" title="{{ data.log_created|date('r') }}">
                    <div class="settings__account-log__detail__title">
                        Date
                    </div>
                    <time class="settings__account-log__detail__value" datetime="{{ data.log_created|date('c') }}">
                        {{ data.log_created|time_diff }}
                    </time>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro user_profile_warning(warning, show_private_note, show_user, show_issuer, show_ips, delete_csrf) %}
    {% if warning.warning_type == constant('MSZ_WARN_SILENCE') %}
        {% set warning_text = 'Silence' %}
        {% set warning_class = 'silence' %}
    {% elseif warning.warning_type == constant('MSZ_WARN_BAN') %}
        {% set warning_text = 'Ban' %}
        {% set warning_class = 'ban' %}
    {% elseif warning.warning_type == constant('MSZ_WARN_WARNING') %}
        {% set warning_text = 'Warning' %}
        {% set warning_class = 'warning' %}
    {% else %}
        {% set warning_text = 'Note' %}
        {% set warning_class = 'note' %}
    {% endif %}

    <div class="profile__warning profile__warning--{{ warning_class }}{% if show_user or show_issuer or delete_csrf %} profile__warning--extendo{% endif %}">
        <div class="profile__warning__background"></div>

        {% if show_user or show_issuer or delete_csrf %}
            <div class="profile__warning__tools">
                {% if show_user %}
                    <div class="profile__warning__user">
                        <div class="avatar profile__warning__user__avatar" style="background-image:url('/profile.php?m=avatar&amp;u={{ warning.user_id }}');"></div>
                        <div class="profile__warning__user__username">
                            {{ warning.username }}
                        </div>

                        {% if show_ips %}
                            <div class="profile__warning__user__ip">
                                {{ warning.user_ip }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {% if show_issuer %}
                    <div class="profile__warning__user">
                        <div class="avatar profile__warning__user__avatar" style="background-image:url('/profile.php?m=avatar&amp;u={{ warning.issuer_id }}');"></div>
                        <div class="profile__warning__user__username">
                            {{ warning.issuer_username }}
                        </div>

                        {% if show_ips %}
                            <div class="profile__warning__user__ip">
                                {{ warning.issuer_ip }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {% if delete_csrf %}
                    <div class="profile__warning__options">
                        <a href="/manage/users.php?v=warnings&amp;u={{ warning.user_id }}&amp;w={{ warning.warning_id }}&amp;m=delete&amp;c={{ delete_csrf }}" class="profile__warning__option"><i class="far fa-trash-alt"></i> Delete</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="profile__warning__content">
            <div class="profile__warning__type">
                {{ warning_text }}
            </div>

            <time datetime="{{ warning.warning_created|date('c') }}" title="{{ warning.warning_created|date('r') }}" class="profile__warning__created">
                {{ warning.warning_created|time_diff }}
            </time>

            {% if warning.warning_duration_secs > 0 %}
                <time datetime="{{ warning.warning_duration|date('c') }}" title="{{ warning.warning_duration|date('r') }}" class="profile__warning__duration">
                    {{ warning.warning_created|time_diff }}
                </time>
            {% else %}
                <div class="profile__warning__duration"></div>
            {% endif %}

            <div class="profile__warning__note">
                {{ warning.warning_note }}

                {% if show_private_note and warning.warning_note_private|length > 0 %}
                    <div class="profile__warning__private">
                        {{ warning.warning_note_private|nl2br }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
