{% extends 'forum/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from '_layout/input.twig' import input_csrf %}

{% set title = title|default('Confirm your action') %}

{% block content %}
    <form action="" method="get" class="container forum__confirm">
        {{ container_title('<i class="' ~ class|default('fas fa-exclamation-circle') ~ ' fa-fw"></i> ' ~ title) }}
        {{ input_csrf() }}
        {% for name, value in params %}
            <input type="hidden" name="{{ name }}" value="{{ value }}">
        {% endfor %}

        <div class="forum__confirm__message">
            {{ message|default('Are you sure you w') }}
        </div>

        <div class="forum__confirm__buttons">
            <button name="confirm" value="1" class="input__button forum__confirm__button">Yes</button>
            <button name="confirm" value="0" class="input__button forum__confirm__button">No</button>
        </div>
    </form>
{% endblock %}
