{% extends 'forum/master.twig' %}
{% from 'macros.twig' import avatar %}

{% set title = 'Forum Leaderboard » ' ~ leaderboard_name %}
{% set canonical_url = url('forum-leaderboard', {
    'id': leaderboard_id,
    'mode': '',
}) %}

{% block content %}
    <div class="container forum__header">
        <a class="forum__header__title" href="{{ canonical_url }}">
            {{ title }}
        </a>

        <div class="forum__header__actions">
            {% if leaderboard_mode == 'markdown' %}
                <a class="forum__header__action" href="{{ url('forum-leaderboard', {'id': leaderboard_id}) }}">
                    <i class="fas fa-table fa-fw"></i> Table
                </a>
            {% else %}
                <a class="forum__header__action" href="{{ url('forum-leaderboard', {'id': leaderboard_id, 'mode': 'markdown'}) }}">
                    <i class="fas fa-markdown fa-fw"></i> Markdown
                </a>
            {% endif %}
        </div>
    </div>

    <div class="container forum__leaderboard__categories">
        {% for id, name in leaderboard_categories %}
            <a href="{{ url('forum-leaderboard', {'id': id, 'mode': leaderboard_mode}) }}" class="forum__leaderboard__category{% if leaderboard_id == id %} forum__leaderboard__category--active{% endif %}">{{ name }}</a>
        {% endfor %}
    </div>

    {% if leaderboard_mode == 'markdown' %}
        <textarea class="input__textarea forum__leaderboard__markdown">{{ leaderboard_markdown }}</textarea>
    {% else %}
        {% for user in leaderboard_data %}
            <div class="container forum__leaderboard__user forum__leaderboard__user--rank-{{ user.rank }}">
                <a href="{{ url('user-profile', {'user': user.user_id}) }}" class="forum__leaderboard__user__background"></a>
                <div class="forum__leaderboard__user__content">
                    <div class="forum__leaderboard__user__rank">{{ user.rank|number_format }}</div>
                    <div class="forum__leaderboard__user__avatar">{{ avatar(user.user_id, user.rank == 1 ? 50 : 40, user.username) }}</div>
                    <div class="forum__leaderboard__user__username">{{ user.username }}</div>
                    <div class="forum__leaderboard__user__posts">{{ user.posts|number_format }} posts</div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
